.tan-confirm {

  font-family: "Inter";

  .tan-confirm-title {
    color: #2C2E2F;
    font-size: 34px; //keep it in px before merging
    font-weight: bold;
  }

  .tan-confirm-hint {
    color: #999999;
    font-size: 21px; //keep it in px before merging
  }

  .tan-confirm-input {
    height: 56px;
    border: 1px solid #A0A0A0;
    border-radius: 3px;
  }

  .tan-confirm-btn {
    height: 56px; //keep it in px before merging
    width: 131px; //keep it in px before merging
    border-radius: 3px;
    text-align: center;
    border: 1px solid #999999;
  }

  .tan-confirm-btn-next {
    background: linear-gradient(270deg, #0DB0E2 0%, #10317D 100%);
    color: #F6F6F6;
    font-weight: 600;
  }
}
