.sca-select-title {
  height: 48px;
  width: 442px;
  color: #2C2E2F;
  font-family: Inter;
  font-size: 34px;
  font-weight: bold;
  line-height: 60px;
}

.sca-select-hint {
  height: 97px;
  width: 433px;
  color: #999999;
  font-family: Inter;
  font-size: 21px;
  line-height: 30px;
}

.sca-cancel {
  height: 56px;
  width: 192px;
  border: 1px solid #999999;
  border-radius: 3px;
}

.sca-next {
  height: 56px;
  width: 192px;
  border-radius: 3px;
  background: linear-gradient(270deg, #0DB0E2 0%, #10317D 100%);
}
